body{
    background-color: #ebebeb;
}
.header{
    padding: 30px;
}
.reddit{
    
}
.reddit-logo{
    width: 90px;
    height: auto;
}
.nav-item, .nav-item1 ,.nav-item2{
    font-size: 12px !important;
}
.nav-item1{
    color: #FF5700;
}
.flex-item{
    font-size: 11.5px;
    margin-top: 6px;
    margin-left: 1px;
}
.favorites-text, .favorites-text1{
    font-size: 12px !important;
}
.favorites-text1{
    margin-left: 70px !important;

}
.reddit-premium-text{
    font-size: 12px;
}
.reddit-try{
    background-color: #FF5700;
}
.user-profile1{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1px solid yellowgreen;
}
.view-all{
    font-size: 10px;
    text-align: center;
    display: flex;
    margin-left: 40px;
}
.content-nav{
    list-style-type: none;
}
.contents{
    background-color: white;
    padding-bottom: 1000px;
    margin-top: -27px !important;
}
.create-post{
    font-size: 12px;
    background-color: #FF5700;
}
.news-image{
    width: 100px;
}
.highlights{
    font-size: 10px;
    border: 1px solid skyblue;
    width: 200px;
    
}.username{
    font-size: 9px;
    color: gray
}
.c-paragraph{
    font-size: 10px;
    color: #b0afaf;
    max-width: 400px;
}
.c-heading{
    font-size: 17px !important;
}
.c-nav{
    margin-left: 75px;
}
.filter-by{
    max-width: 180px;
    /* min-width: 00px; */
}
.comments{
    position: absolute;
}
.favorite-section{
    max-width: 200px;
}
.fav-sec{
    max-width: 200px;
    padding-right: 20px;
}